$colors: ("violeta": #662e91, "violetaOsc": #551d80, "rosa" :#f3c3f3);
@mixin text($position, $fontS, $fontF){
  text-align: $position;
  font-size: $fontS;
  font-family: $fontF;
}
@mixin titlesong($color, $shadow){
  color: $color;
  text-shadow: $shadow;
}
  @mixin size($width, $height){
    width: $width;
    height: $height;
  }
  @mixin maxsize($mwidth, $mheight) {
    max-width: $mwidth;
    max-height: $mheight;  
  }
  .fandom__imgheader{
    width: 84.3rem;
  }
  .fandom__flex{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
  }
  .fandom__foto{
    @include size(84.3rem, 40rem);
  }
  